import java.util.logging.*;
import net.jini.jrmp.*;
import net.jini.jeri.*;
import net.jini.jeri.tcp.*;
import sorcer.core.*;
import net.jini.core.entry.Entry;
import net.jini.lookup.entry.*;
import sorcer.core.provider.*;
import edu.pjatk.inn.coffeemaker.*;
import edu.pjatk.inn.coffeemaker.impl.*;

sorcer.core.provider.ServiceProvider {
        /* service provider deployment properties */
		name = "Coffee Payment";
		description = "CoffeeMaker - payment service";
		location = "PJATK";
		publishedInterfaces = new Class[] { edu.pjatk.inn.coffeemaker.Payment.class };

		// service beans
		beanClasses = new Class[] { edu.pjatk.inn.coffeemaker.impl.Payment.class };
		
		iconName="sorcer.jpg";
}